@import "tailwindcss";
@import "@nuxt/ui";
@import "~/assets/css/typo.css";
@import "~/assets/css/markdown.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --ui-radius: 0.50rem;
}

@theme {
    --font-sans:"Open Sans", sans-serif;
    --animate-background-shine: background-shine 2s linear infinite;

    @keyframes background-shine {
        from {
            background-position: 0 0;
        }
        to {
            background-position: -200% 0;
        }
    }
}

@layer components {
    .animated-shine-badge {
        /* Clases simplificadas y mejoradas para el brillo */
        @apply inline-flex h-8 animate-background-shine cursor-pointer items-center justify-center rounded-full border border-neutral-700
        bg-[linear-gradient(110deg,#171717,45%,#3a3a3a,55%,#171717)] bg-[length:250%_100%]
        px-4 py-1 text-sm font-medium text-neutral-300 shadow-lg;
        transition: transform 0.2s ease;
    }

    .fondo-dark {
        @apply bg-[#030712] bg-[linear-gradient(#1f2937_1px,_transparent_1px),_linear-gradient(to_right,_#1f2937_1px,_#030712_1px)] bg-[size:20px_20px] transition-colors duration-200
    }
    .fondo-index {
        @apply [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#1c64f2_100%)]
        dark:bg-[radial-gradient(125%_125%_at_50%_10%,_var(--tw-gradient-stops))] from-neutral-950 via-neutral-950 to-blue-700
    }
    .btn-p{
        @apply w-fit inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2
        bg-neutral-900 text-white hover:bg-neutral-700 hover:text-slate-100 active:bg-neutral-800 active:text-neutral-300 focus-visible:outline-neutral-900
    }
    .dark-transition{
        @apply transition-colors duration-200
    }
    .skill-tag {
        @apply inline-flex items-center px-4 py-2 rounded-full
        bg-neutral-800 text-neutral-300 border border-neutral-700
        shadow-sm backdrop-blur-sm;
    }


}
.dark {
    --ui-text-dimmed: var(--ui-color-neutral-500);
    --ui-text-muted: var(--ui-color-neutral-400);
    --ui-text-toned: var(--ui-color-neutral-300);
    --ui-text: var(--ui-color-neutral-200);
    --ui-text-highlighted: var(--color-white);
    --ui-text-inverted: var(--ui-color-neutral-900);

    --ui-bg: var(--ui-color-neutral-950);
    --ui-bg-muted: var(--ui-color-neutral-800);
    --ui-bg-elevated: var(--ui-color-neutral-800);
    --ui-bg-accented: var(--ui-color-neutral-700);
    --ui-bg-inverted: var(--color-white);

    --ui-border: var(--ui-color-neutral-800);
    --ui-border-muted: var(--ui-color-neutral-700);
    --ui-border-accented: var(--ui-color-neutral-700);
    --ui-border-inverted: var(--color-white);
}
.serif-text {
    font-family: "DM Serif Display", serif;
    font-weight: 900;

}

* {
    scrollbar-width: thin !important;
    scroll-behavior: smooth;
    --content-width: 60rem;
    --headline-height: 72px;
    scroll-margin-top: calc(var(--headline-height) + 1rem) !important;
}


.fondo-gran {
    background: url('/assets/img/grad2.png') no-repeat center;
    background-size: cover;

}
